@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-ExtraBold.woff2") format("woff2"), url("../fonts/Geometria-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-Light.woff2") format("woff2"), url("../fonts/Geometria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-Regular.woff2") format("woff2"), url("../fonts/Geometria-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-Heavy.woff2") format("woff2"), url("../fonts/Geometria-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueBlackCondensed;
  font-display: swap;
  src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ibg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.ibg img {
  display: none;
}

.logo-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan {
  font-size: 16px;
  line-height: 162.5%;
  max-width: 196px;
}

.call-block {
  text-align: center;
}

.call-block__phone-number {
  text-align: center;
  font-size: 30px;
  line-height: 163.3333333333%;
}

.call-block .phone-icon {
  display: none;
}

.call-block .phone-icon img {
  width: 30px;
  height: 30px;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.gallery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 15px;
  margin: 0 0 15px;
}

.gallery__item img {
  width: 100%;
}

.columns-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.columns-block__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 15px;
}

.column-columns-block__title {
  font-size: 25px;
}

.column-columns-block__text,
.column-columns-block__readmore {
  font-size: 18px;
}

.column-columns-block__readmore-wrapper {
  text-align: right;
}

.column-columns-block__image img {
  width: 100%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  max-width: 800px;
  padding: 30px;
  position: relative;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
}

.popup__title {
  font-size: 40;
  margin: 0 0 30px 0;
}

.tabs {
  max-width: 600px;
  margin: 50px auto;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__nav-btn {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #f5f5f5;
  border: 0;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.tabs__nav-btn:last-child {
  border-right: none;
}

.tabs__nav-btn:hover {
  background-color: #ddd;
}

.tabs__nav-btn.active {
  background-color: #5e3ddf;
  border-right-color: #5e3ddf;
  color: #fff;
}

.tabs__content {
  position: relative;
  background-color: #fff;
}

.tabs__item {
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs__item.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 150%;
  padding: 15px 0;
  border-radius: 5px;
  max-width: 270px;
}

.btn_border {
  border: 1px solid #2A94E2;
  color: #000;
}

.btn_bg {
  border: none;
  background-color: #2A94E2;
  color: #fff;
}

.title-block {
  text-align: center;
}

.title {
  font-size: 35px;
  line-height: 137.1428571429%;
  text-align: center;
  font-weight: 800;
}

.subtitle {
  font-size: 22px;
  line-height: 159.0909090909%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header.colored {
  background-color: #EEF3FA;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px 12px;
  min-height: 70px;
}

.header__popup {
  color: #fff;
  font-size: 18px;
}

.menu__body {
  position: absolute;
  top: 0;
  left: -100%;
  min-width: 280px;
  height: 100vh;
  background: #EEF3FA;
  padding: 100px 20px 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  overflow: auto;
  opacity: 0;
}

.menu__body.active {
  left: 0;
  opacity: 1;
}

.menu__body.active .menu__list > li a {
  color: #000;
}

.menu__list {
  display: block;
  padding: 100px 20px 0;
}

.menu__list > li {
  padding: 10px 0;
  position: relative;
  margin: 0 0 0 20px;
}

.menu__list > li.active .menu__sublist {
  display: block;
}

.menu__link {
  color: #fff;
  font-size: 18px;
}

.menu__sublist {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 15px;
  min-width: 250px;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  background: #b8c7db;
}

.menu__sublist li {
  margin: 0 0 10px 0;
}

.menu__sublist li:last-child {
  margin: 0;
}

.menu__sublink {
  font-size: 20px;
  color: #000;
}

.menu__icon-wrapper {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

.menu__icon {
  position: relative;
  z-index: 5;
  display: block;
  width: 40px;
  height: 29px;
  cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #2A94E2;
  border-radius: 50px;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  width: 50%;
  bottom: 0;
}

.menu__icon span {
  width: 75%;
  top: 50%;
  -webkit-transform: scale(1) translate(0, -50%);
      -ms-transform: scale(1) translate(0, -50%);
          transform: scale(1) translate(0, -50%);
}

.menu__icon.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__icon.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}

.menu__icon.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
      -ms-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
  width: 100%;
}

.menu__icon-text {
  font-size: 16px;
  line-height: 162.5%;
}

.menu__arrow {
  display: none;
}

.call-header {
  padding: 22px 0 0;
}

.footer {
  padding: 40px 0;
  background: #535860;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__worktime,
.footer__ogrn-inn {
  font-size: 13px;
  line-height: 161.5384615385%;
}

.footer__logo-slogan {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__worktime,
.footer__address {
  margin: 0 0 20px;
}

.footer__worktime-and-address {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 322px;
          flex: 0 1 322px;
}

.footer__ogrn-inn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call-footer__email,
.call-footer__btn {
  color: #fff;
}

.call-footer__email {
  font-size: 22px;
  line-height: 163.6363636364%;
}

.call-footer__email:hover {
  text-decoration: underline;
}

.call-footer__phone-number {
  font-size: 25px;
}

.call-footer__email {
  display: inline-block;
  margin: 0 0 20px;
}

.call-footer__btn {
  background: #fff;
  color: #000;
  margin: 0 auto;
  font-weight: 500;
}

body {
  font-family: Geometria;
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
}

body.lock {
  overflow: hidden;
}

body._pc .menu__list > li:hover .menu__sublist {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000;
}

body._touch .menu__list > li.active .menu__sublist {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__list > li.active .menu__arrow {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  pointer-events: all;
}

.no-webp .main-screen {
  background: url("../img/main-screen/bg.jpg") no-repeat; }

.main-screen {
  width: 100%;
  height: 100%;
  padding: 180px 0 70px;
  background-size: cover;
}

.main-screen__title {
  max-width: 586px;
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 900;
}

.main-screen__subtitle {
  max-width: 540px;
  font-size: 22px;
  line-height: 163.6363636364%;
}

.main-screen__btn {
  max-width: 360px;
  border: none;
  background: #2A94E2;
  color: #fff;
}

.numerals-main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
}

.numerals-main-screen__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numerals-main-screen__numeral {
  font-size: 80px;
  line-height: 163.75%;
}

.numerals-main-screen__text {
  width: 150px;
}

.promotion-main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
  max-width: 464px;
  margin: 0 0 40px;
}

.promotion-main-screen__text span {
  font-weight: 700;
}

.test {
  padding: 60px 0;
}

.test__title-block {
  margin: 0 0 42px;
}

.test__title {
  margin: 0 0 20px;
}

.test__row {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #F6F6F6;
}

.test__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.27%;
          flex: 0 0 27.27%;
  margin: 0 0 0 80px;
}

.test__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 67%;
          flex: 0 0 67%;
  margin: 0;
}

.test-block__title {
  font-size: 22px;
  font-weight: 800;
  margin: 0 0 30px;
}

.test-block__choises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 26px 0;
  border-bottom: 2px solid #F1F1F1;
  margin: 0 0 30px 0;
}

.test-block__choise-img img {
  width: 100%;
}

.test-block__choise-text {
  margin: 26px 0 0 0;
  text-align: center;
  opacity: 0.5;
}

.test-block__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test-block__continue-link {
  padding: 0 36px 0 0;
  background: url("../img/test/continue-arrow.svg") no-repeat right center;
}

.test-block__continue-link a {
  color: #2A94E2;
}

.test-service__item {
  padding: 0 0 0 63px;
  background: url("../img/test/icon.svg") no-repeat 0 5px;
  margin: 0 0 30px 0;
}

.test-service__item:last-child {
  margin: 0;
}

.services__body {
  margin: 0 -5px;
}

.services__title-block {
  margin: 0 0 30px;
}

.services__subtitle {
  color: #ee5c5c;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__row_b .item-services {
  padding: 0 0 39.5%;
}

.services__row_b .item-services_f {
  padding: 0 0 160.74%;
}

.services__row_s .item-services {
  padding: 0 0 79%;
}

.services__row_s .item-services_f {
  padding: 0 0 39.5%;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.services__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

.item-services {
  position: relative;
  margin: 0 5px 10px;
}

.item-services:hover .item-services__text,
.item-services:hover .item-services__btn {
  opacity: 1;
  visibility: visible;
}

.item-services__description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 87.42%;
  color: #fff;
  -webkit-transition: bottom 0.3s ease 0s;
  -o-transition: bottom 0.3s ease 0s;
  transition: bottom 0.3s ease 0s;
}

.item-services_flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-services__title {
  bottom: 20px;
  font-weight: 800;
  font-size: 22px;
  line-height: 150%;
}

.item-services__text,
.item-services__btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-services__text {
  margin: 0 0 20px;
}

.item-services__btn {
  width: 100%;
  max-width: none;
}

.about {
  padding: 65px 0;
  background: #F6F6F6;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
}

.about__title,
.about__text p {
  margin: 0 0 20px;
}

.about__title {
  text-align: left;
}

.about__text-block {
  padding: 36px 0 0 0;
}

.slider-about {
  height: 106px;
}

.slider-about_thumb {
  margin: 0 0 10px;
}

.slider-about_thumb .swiper-slide img {
  width: 100%;
}

.slider-about .swiper-slide img {
  width: 100%;
  max-height: 106px;
}

.slider-about .swiper-slide-thumb-active {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.slider-about .swiper-slide-thumb-active img {
  border: 2px solid #2A94E2;
}

@media (max-width: 1024px) {
  .logo img {
    width: 120px;
  }

  .call-block__phone-number {
    font-size: 20px;
  }

  .footer__container {
    display: block;
    text-align: center;
  }

  .footer__logo {
    display: none;
  }

  .footer__ogrn-inn {
    display: block;
    margin: 0 0 20px;
  }

  .numerals-main-screen {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .test__row {
    display: block;
    padding: 30px;
  }

  .test-service {
    max-width: 282px;
    margin: 0 auto;
  }
}

@media (max-width: 920px) {
  .columns-block__body {
    display: block;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 20px;
  }

  .main-screen__title {
    font-size: 25px;
  }

  .main-screen__subtitle {
    font-size: 16px;
  }

  .numerals-main-screen__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .numerals-main-screen__numeral {
    font-size: 40px;
  }

  .numerals-main-screen__text {
    width: 100%;
  }

  .numerals-main-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .test-block__title {
    font-size: 20px;
  }

  .services__row {
    display: block;
  }

  .item-services__text,
  .item-services__btn {
    opacity: 1;
    visibility: visible;
  }

  .item-services {
    padding: 0 0 300px 0 !important;
  }
}

@media (max-width: 787px) {
  .logo img {
    width: 100px;
  }

  .call-block .phone-icon {
    display: block;
  }

  .title {
    font-size: 25px;
  }

  .subtitle {
    font-size: 18px;
  }

  .call-header {
    padding: 0;
  }

  .call-header__phone-number,
  .call-header__btn {
    display: none;
  }

  .promotion-main-screen__text {
    font-size: 14px;
  }

  .test__row {
    display: block;
    padding: 20px;
  }

  .test-block__title {
    font-size: 18px;
  }

  .test-block__choises {
    display: block;
  }

  .test-block__choise {
    margin: 0 0 30px;
  }

  .test-block__choise:last-child {
    margin: 0;
  }

  .test-block__bottom-block {
    display: block;
  }

  .test-block__continue-link {
    text-align: right;
  }

  .test-block {
    margin: 0 0 30px;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0;
  }

  .about__text-block {
    padding: 0;
  }
}

@media (max-width: 520px) {
  .logo img {
    width: 80px;
  }

  .slogan {
    display: none;
  }

  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 14px;
  }

  .menu__icon-text {
    display: none;
  }

  .main-screen__title {
    font-size: 18px;
  }

  .promotion-main-screen__img img {
    width: 38px;
  }

  .test__row {
    padding: 0;
    border: none;
  }
}

.webp .main-screen { background: url(../img/main-screen/bg.webp) no-repeat; }